body {  /*  */
  margin: 0;
  padding: 0;
  font-family:
  'Gilroy', sans-serif,
  'Open Sans', sans-serif;
  ;

  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  min-width: 1240px;
}
@font-face {  /* проблема! */
  font-family: 'Gilroy';
  src: url('../font/gilroy-extrabold.otf') format('truetype'),
       url('../font/gilroy-light.otf') format('truetype');
}
.container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}
.more-action {
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.visually-hidden {  /* скрытые тексты всего сайта */
  display: none;
}
.main-header,
.main {  /* коррекция отступов сайта */
  /*max-width: 1200px;*/
  margin: 0 auto;
}
.main-header {  /* цвет хедера */
  height: 300px;
  margin-top: 41px;
  background-color: #f7e296;
  text-transform: uppercase;
  padding-right: 60px;
  padding-left: 60px;
}
a.main-header-logo {
    display: inline-block;
    margin-top: -30px;
    vertical-align: middle;
    font-size: 48px;
    color: black;
    letter-spacing: .01em;
}
.header-search input[type="search"],
.header-search-button {  /* строка поиска */
    color: #000000;
    text-transform: none;
    min-height: 50px;
    vertical-align: middle;
    background-color: #f7e296;
    border: 0px;
    display: inline-block;
    vertical-align: middle;
}

.header-search-button img{
      vertical-align: middle;
}
.account-action {  /* активные элементы */
    font-family: 'Open Sans';
    text-transform: none;
    color: #000000;
    font-weight: 100;
}
.account-action a{  /* цвета ссылок активных элементов*/
  color: #000000;
  vertical-align: middle;
}
.account-action img{
  vertical-align: middle;
}
.account-action span{
  vertical-align: middle;
}
.account-login{  /* login активные элементы */
}
.account-action a:hover {  /* login активные элементы */
  opacity: .5;
}
}
.account-action a:active {  /* login активные элементы */
  opacity: .1;
}
}
.account-activity{  /* активность на сайте блок "активные элементы" */

}

.main-nav a {  /* цвет ссылок навигации  */
  color: #000000;
}
.catalog-menu a:hover {  /* строка навигации */
  opacity: .5;
}
.catalog-menu a:active {  /* строка навигации */
  opacity: .1;
}
.catalog-menu-link,
.site-navigation {  /* строка навигации */
  font-size: 18px;
  vertical-align: middle;
  letter-spacing: 2px;
}

.catalog-menu-toggle {  /* кнопка всплывающего окна */
  background-color: #f7e296;
  opacity: 0.3;
  border: 0px;
  vertical-align: middle;
}
ul.catalog-menu-dropdown-li { /* горизонт */
    margin: 0;
    padding-left: 0;
}

ul.catalog-menu-dropdown-li li { /* горизонт */
      display: inline-grid;
  }
.catalog-menu-dropdown {  /* родительский контейнер выподаюзего меню */
    font-family: 'Open Sans';
}

.catalog-menu-dropdown-menu {  /* выподающее меню */
  padding: 0;
  list-style: none;
  font-weight: 100;
  color: #464646;
  font-size: 15px;
  text-transform: none;
  display: grid;
  margin-right: 60px;

}
.site-navigation {  /* строка навигации правая часть */
  list-style: none;
  padding: 0;
  text-align: right;
}
.site-navigation a:hover {  /* строка навигации правая часть */
  opacity: .5;

}
.site-navigation a:active {  /* строка навигации правая часть */
  opacity: .1;
}
.site-navigation li.deliver {  /* строка навигации настроейка позиционирования */
  margin-right: 40px;
}
.site-navigation li.contacts {  /* строка навигации настроейка позиционирования */
  margin-left: 112px;
}
ul.site-navigation { /* горизонт */
    margin: 0;
}

ul.site-navigation li { /* горизонт */
    display: inline;
}

a {  /* все ссылки */
  text-decoration: none;
  color: black;
}
.slider-count {
  font-size: 179px;
}
.slides {  /* пункты слайдов */
  color: #000000;
  list-style: none;
  padding: 0;
}
.services {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}
h1,
.services-title {  /* заголовки */
  color: #000000;
  font-size: 47px;
  line-height: normal;
}
p {  /* все параграфы */
  font-family: 'Open Sans';
  font-weight: lighter;
  color: #464646;
  font-size: 15px;
}
.slides table{  /* table слайдов */
  font-weight: 100;
  width: 460px;
  font-family: 'Open Sans';

}
.slides tr:first-child {  /* первая строка таблицы слайдов */
  font-size: 36px;
}
.slides tr:last-child {  /* вторая строка таблицы слайдов */
  color: #464646;
  font-size: 13px;
}
.radio{  /* переключатели слайдов */
  list-style: none;
}
ul.radio {
    margin: 0;
    padding-left: 0;
}
ul.radio li {
  display: inline;
}
.popular-list {  /* пункты популярного */
  list-style: none;
  margin: 0 -15px;
  padding-left: 0;
}
ul.popular-list li {
  display: inline-block;
  width: 160px;
  padding: 0 15px;
  vertical-align: top;
}

.popular-list a{  /* ссылки популярного */
  color: #000000;
  list-style: none;
  display: inline-block;
  margin: 0;
}
.popular-item-box {  /* контейнеры популярного */
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.popular-item-box:hover {  /* наведение на контейнер популярного */
  background-color: #f0c52e;
}
.popular-item-box:active {  /* нажатие на контейнер популярного */
  background-color: #f0c52e;
  opacity: .5;
}
.popular-list a:active{  /* нажатие с захватом ссылки (контейнер популярного) */
  opacity: .5;
}
.popular-list span{  /* текст популярного */
  font-size: 18px;
  word-wrap: normal;
}
.services-name { /* пункты сервисов  */
  color: #000000;
  list-style: none;
  text-transform: uppercase;
  padding-left: 0;
}
.services-name a{   /* текст популярного */
  color: #000000;
}
.services-name a:active{   /* текст популярного */
  color: #f7e184;
}
.logos-list img{   /* логотипы */
  list-style: none;
  letter-spacing: 60px;
  filter: grayscale(100%) opacity(50%);
  transition: 0.15s ease-out;
}
.logos-list img:hover{    /* наведение нв логотипы */
  filter: grayscale(0%);
}

ul.logos-list {    /* однострочность логотипов */
    margin: 0;
    padding-left: 0;
}
ul.logos-list li {    /* однострочность логотипов */
  position: relative;
  display: inline-block;
  width: 260px;
  margin-right: 20px;
  vertical-align: baseline;
}
.about-us {    /* раздел о нас */
padding-top: 90px;
padding-bottom: 90px;
}
.about-us h2 {
  font-size: 47px;
}
.about-us .logistic {    /* пункты о нас */
  margin-left: -20px;
}
.about-us a {    /* ссылки о нас */
  color: #000000;
  font-size: 18px;
}

.contacts {    /* раздел контактов */
  padding-top: 90px;
  padding-bottom: 90px;
}
.contacts h2 {
  font-size: 47px;
}

.map button {    /* карта раздела контактов */
  text-transform: none;

  opacity: .5;
  border: 0px;
}
.map button:hover {    /* (наведение) карта раздела контактов */
  opacity: 1;
}
.main-footer {  /* футер */
  margin: 0;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 66px;
  color: #e6e6e6;
  background-color: #464646;
  font-weight: 100;
  font-size: 15px;
  text-align:  center;
  width: 100%;
  font-family: 'Open Sans';
}
.main-footer a{  /* ссылки футера */
  color: #ffffff;
  font-size: 15px;
}
.main-footer li{  /* li футера */
  color: #ffffff;
  font-size: 18px;

}
.footer-top {  /* верх футера */
  list-style: none;
  font-size: 15px;
  display:  flex;
  justify-content: space-between;
}
.footer-top .main-header-logo{
  margin: 0;
}
.footer-action {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
}
.footer-top img{  /* img верхнего футера */
  vertical-align: middle;
}
.footer-top a{  /* li футера */
  opacity: .85;
  font-weight: 100;
}

ul.footer-top {    /* однострочность логотипов */
    margin: 0;
}
ul.footer-top li {    /* однострочность логотипов */
    display: inline;
    margin-left: 65px;
}
.footer-mid {  /* середина футера */
  margin-left: 140px;
  margin-right: 140px;
  list-style: none;
}
.footer-mid-services {
  list-style: none;
  font-family: 'Gilroy';
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-item {
  font-size: 15px;
}
.footer-mid span{  /* середина футера */
  opacity: .85;
}
.footer-mid a{  /* ссылки середины футера */
  opacity: .85;
}
ul.footer-mid {    /* однострочность логотипов */
    margin: 0;
}
ul.footer-mid li {    /* однострочность логотипов */
    display: inline;
}
.footer-mid li{
  font-size: 18px;
  font-weight: bold;
}
.footer-bottom {  /*  */
  margin-left: 140px;
  margin-right: 140px;
  list-style: none;
}
ul.footer-bottom {    /* однострочность логотипов */
    margin: 0;
    padding-left: 0;
}
ul.footer-bottom li {    /* однострочность логотипов */
    display: inline;
}
.activity-button {
  text-align: right;
}
.services-button {
  text-align:  center;
}
.social-button {
  margin-left: 23px;
  opacity: .5;
}
.write-us {
  text-align: center;
}
.write-us label{
  font-family: 'Gilroy';
}
.write-us-items input[type="text"],
.write-us-items input[type="email"] {    /* попап */
  text-transform: none;
  font-size: 14px;
  height: 50px;
  width: 360px;
  color: #000000;
  background-color: #f2f2f2;
  border: 0px solid;
}
.write-us-items textarea{    /* (не смог поменять тект) попап */
  text-transform: none;
  height: 156px;
  width: 760px;
  color: #000000;
  font-size: 14px;
  background-color: #f2f2f2;
  border: 0px solid;
}
.write-us-close button{    /* кнопка закрытия попапа */
  opacity: .5;
  border: 0px;
}
.write-us-close button:hover{    /* кнопка (пасив) отправки попап */
  opacity: 1;
}
.write-us button{    /* кнопка (актив) отправки попап */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border: 0px;

}
/*-----
catalog.html
-----*/
.catalog {    /* контейнер каталога */
}

.breadcrumbs {    /* хлебные крошки - уровни страницы */
  list-style: none;
  font-size: 14px;
}
.breadcrumbs a {    /* хлебные крошки - уровни страницы (ссылки)*/
  color: #b2b2b2;
  margin-right: 40px;
  margin-left: 40px;
  font-family: 'Open Sans';
}
.breadcrumbs a:hover {    /* хлебные крошки - уровни страницы */
  color: #666666;
}
.breadcrumbs a:active {    /* хлебные крошки - уровни страницы */
  opacity: .1;
}
ul.breadcrumbs {    /* однострочность логотипов */
    margin: 0;
    padding-left: 0;
}
ul.breadcrumbs li{    /* однострочность логотипов */
    display: inline;
}
.filter {    /* контейнер с фильтром */
  background-color: #efefef;
}
.filter .title{    /* заголовок контейнера с фильтром */
  font-size: 18px;
  height: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.filter fieldset,
.filter-body legend{    /* заголовки пунктов контейнера с фильтрами */
  border: none;
}
.color ul{    /* пункты контейнера с фильтрами цвета */
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.color .color-name{
  font-family: 'Open Sans';
  font-size: 14px;
}
.bluetooth .have-not {
  font-family: 'Open Sans';
  font-size: 14px;
}
.filter-botton{    /* кнопка контейнера с фильтрами */
  border: 0px;
  background-color: #efefef;
  width: 200px;
  font-family: 'Gilroy';

}
.sort h2{     /* заголовок контейнера с сортировкой */
  font-size: 18px;
  height: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  vertical-align: middle;
}
.sort .level{     /* пункты контейнера с сортировкой */
  list-style: none;
  font-family: 'Open Sans';
  font-size: 14px;
  padding-left: 0;
}

ul.level {    /* однострочность логотипов */
    margin: 0;
}
ul.level li{    /* однострочность логотипов */
    display: inline;
    margin-right: 35px;
}
.level-text a{     /* ссылки контейнера с сортировкой */
  color: #dbdbdb;
  font-weight: 100;
}
.level-text a:hover {     /* пункты контейнера с сортировкой */
  color: #666666;
}
.level-text a:active {     /* пункты контейнера с сортировкой */
  color: black;
}
.arrows img{
  opacity: .1;
}
.arrows img:hover{
  opacity: .5;
}
.arrows img:active{
  opacity: 1;
}
.sort button{     /* кнопки верх, низ контейнера с сортировкой */
  font: inherit;
  font-weight: bold;
  height: 10px;
  width: 11px;
  border: 0px;
  background: none;
}
.catalog-item a{     /* ссылки контейнера с товарами */
  color: #464646;
  font-size: 18px;
}
.catalog-item h3{     /* цены контейнера с товарами */
  width: 254px;
  font-size: 18px;
}
.catalog-item span{     /* цены контейнера с товарами */
  font-family: 'Open Sans';
  font-size: 16px;
  color: #9c9c9c;
  width: 160px;
}
.navigation {
  width: 760px;
  height: 70px;
  background-color: #ebebeb;
  margin-bottom: 77px;
}
.navigation a:hover{
  background-color: #d9d9d9;
}
.navigation a{     /* навигация по страницам */
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  width: 126px;
  height: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navigation-list li{
  list-style: none;
  text-align: center;
}
ul.navigation-list {    /* однострочность логотипов */
    margin: 0;
}
ul.navigation-list li{    /* однострочность логотипов */
    display: inline;
    margin-right: 30px;
}
.navigation-item a{
  color: #9c9c9c;
}
.navigation-item a:hover{
  background-color: none;
}
