/*#main-item-btn-1:checked~.index-main #slide-1,
 #main-item-btn-2:checked~.index-main #slide-2,
  #main-item-btn-3:checked~.index-main #slide-3,
   #delivery:checked~.main #delivery,
    #warranty:checked~.main #warranty,
     #credit:checked~.main #credit {
    display: block;
}

#delivery:checked~.main label[for=delivery],
 #warranty:checked~.main label[for=warranty],
  #credit:checked~.main label[for=credit] {
    color: #f7e184;
}*/
/* слайдер, работающий на лэйбэлах */
#product-1:checked ~ .showcase #slide1,
#product-2:checked ~ .showcase #slide2,
#product-3:checked ~ .showcase #slide3,
#services-1:checked ~ .services #delivery,
#services-2:checked ~ .services #warranty,
#services-3:checked ~ .services #credit,
#write-us:checked ~ .about-company #popup-write-us {
  display: block;
}

#product-1:checked ~ .showcase label[for="product-1"],
#product-2:checked ~ .showcase label[for="product-2"],
#product-3:checked ~ .showcase label[for="product-3"] {
  background: url(../img/radio-on.svg) 0px 0px no-repeat;
  background-size: 14px;
  transition: 0.15s ease-out;
}

#services-1:checked ~ .services label[for="services-1"],
#services-2:checked ~ .services label[for="services-2"],
#services-3:checked ~ .services label[for="services-3"] {
  color: #f7e184;
}
#services-1:checked ~ .services label[for="services-1"]::before,
#services-2:checked ~ .services label[for="services-2"]::before,
#services-3:checked ~ .services label[for="services-3"]::before {
  top: 0;
  width: 290px;
  height: 100%;
  background-color: #000;
}

#product-1:checked ~ .slider-controls .product-1::before,
#product-2:checked ~ .slider-controls .product-2::before,
#product-3:checked ~ .slider-controls .product-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


body {  /*  */
  margin: 0;
  padding: 0;
  font-family:
     'Gilroy', sans-serif,
     'Open Sans Light', sans-serif,
      "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  min-width: 1240px;
}

@font-face {  /* проблема! */
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('../font/gilroy-extrabold.otf') format('truetype');
}
@font-face {
 font-weight: lighter;
 font-family: 'Gilroy';
 src: url('../font/gilroy-light.otf') format('truetype');
}

@font-face {
 font-weight: 400;
 font-family: 'Open Sans';
 src: url('../font/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
 font-weight: lighter;
 font-family: 'Open Sans Light';
 src: url('../font/OpenSans-Light.ttf') format('truetype');
}

/* выравниватель */
.container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;

}


/* анимация ссылок - сложно*/
a:hover {
  outline-width: 0;
}
.product-description a {
  min-width: 210px;
  max-width: 385px;
  position: relative;
}
.more-button {
  width: 220px;
}
.more-action::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all .2s ease-in-out;
}
.more-button .more-action {
  position: relative;
  display: inline-block;
  padding: 9px 5px;
  width: 160px;
  margin-bottom: 24px;
}
.more-action {
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;
}
.more-action:hover::before {
    top: 3px;
    height: 40px;
}
/* анимация ссылок - сложно*/


.info {
  margin-top: 30px;
}
.info td{
  min-width: 140px;
}
.visually-hidden {  /* скрытые тексты всего сайта */
  display: none;
}
.main-header,
.main {  /* коррекция отступов сайта */
  /*max-width: 1200px;*/
  margin: 0 auto;
}
.main-header {  /* цвет хедера */
  height: 265px;
  margin-top: 41px;
  background-color: #f7e296;
  text-transform: uppercase;
  padding: 0 60px;
  padding-top: 35px;
}
a.main-header-logo {
  position: absolute;
  display: inline-block;
  top: -15px;
  vertical-align: middle;
  font-size: 48px;
  color: black;
  letter-spacing: .01em;
  transition: 0.15s ease-out;
}
a.main-header-logo:hover {
  opacity: 0.6;
}
a.main-header-logo:active {
  opacity: 0.3;
}
.header-action {
  display: flex;
  justify-content: space-between;
  height: 48px;
}
.header-search {
  position: relative;
  width: 315px;
  right: -5px;
}
/*
.header-search:focus {
  opacity: 1;
}
.header-search-items {
  margin: 0;
}
 окно поиска
.header-search-items input {
  font-size: 15px;
  opacity: .3;
  font-weight: lighter;
  width: 250px;
}
.header-search-items input:hover {
  opacity: .6;
}

/*.header-search input[type="search"],
.header-search-button {  /* строка поиска
    color: #000000;
    text-transform: none;
    font-family:
       'Open Sans Light', sans-serif;
    min-height: 50px;
    margin-right: 15px;
    background-color: #f7e296;
    border: 0px;
    display: inline-block;
    vertical-align: middle;
}*/
.header-search {
  position: relative;
    float: left;
    width: 450px;
    height: 49px;
    margin-bottom: 30px;
    line-height: 36px;
}
/* поле поиска */
.header-search input[type=search] {
    width: 315px;
    min-height: 49px;
    padding-left: 40px;
    background-color: #f7e296;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    opacity: .3;
    font-size: 15px;
    font-family:
       'Open Sans Light', "Arial", sans-serif;
    font-weight: lighter;
    transition: 0.15s ease-out;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
.header-search input:hover {
  opacity: .6;
}
/* фокус поля поиска */
.header-search input[type=search]:focus {
    border-bottom: 2px solid #000;
    outline: none;
    opacity: 1;
}
/* активация обоих полей разом:focus */
.search-form-field:focus+input[type=submit] {
    display: inline-block;
    vertical-align: bottom;
}
/* кнопка найти */
.header-search input[type=submit] {
  display: none;
  width: 85px;
  position: relative;
  top: 0px;
  min-height: 49px;
  margin-left: -4px;
  background-color: #f7e296;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Open Sans Light', "Arial", sans-serif;
  font-weight: lighter;
}
.header-search input[type=submit]:hover {
  color: white;
  background-color: black;
  opacity: 1;
  transition: 0.15s ease-out;
}
.header-search input[type=submit]:active {
  color: #4d4d4d;
}
/* поле в фокусе */
.header-search:focus {
    border-bottom: 2px solid #000;
    outline: none;
    opacity: 1;
}
/* иконка перед поиском */
.header-search::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 2px;
    width: 17px;
    height: 17px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
}

.account-action {  /* активные элементы */
    position: relative;
    text-transform: none;
    color: #000000;
    font-weight: 100;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    transition: 0.15s ease-out;
}
.account-action a{  /* цвета ссылок активных элементов*/
  color: #000000;
  vertical-align: middle;
  letter-spacing: .012em;
  transition: 0.15s ease-out;
  font-weight: lighter;
  font-family: "Open Sans Light","Arial",sans-serif;
}
.account-action .exit {
  opacity: .3;
  margin-left: 20px;
}
.account-action .enter {
  left: 5px;
}
.account-action img{
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.account-action span{
  vertical-align: middle;
}
.account-login a{  /* login активные элементы */
  position: relative;
  top: -2px;
}
.account-action a:active {  /* login нажатие активные элементы */
  opacity: .3;
}
.account-action a:hover {  /* login наведение активные элементы */
  opacity: .6;
}

.account-action a:active {  /* login нажатие активные элементы */
  opacity: .3;
}

.account-activity{  /* активность на сайте блок "активные элементы" */
   float: right;
}
.account-activity a:last-child {
   margin-left: 40px;
}
.account-link img {
  height: 12px;
  width: 12px;
  margin-right: 6px;
}
.main-nav {
  width: 1040px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}
.main-nav a {  /* цвет ссылок навигации  */
  color: #000000;
}
.catalog-menu {
  width: 235px;
  margin-left: 2px;
  transition: 0.15s ease-out;
}
.catalog-menu a:hover {  /* строка навигации */
  opacity: .5;
}
.catalog-menu a:active {  /* строка навигации */
  opacity: .1;
}
.catalog-menu-link,
.site-navigation {  /* строка навигации */
  font-size: 18px;
  vertical-align: middle;
  letter-spacing: 4px;
}
.catalog-menu-link {
  margin-right: 5px;
}
.catalog-menu-toggle {  /* кнопка всплывающего окна */
  background-color: #f7e296;
  opacity: 0.3;
  border: 0px;
  vertical-align: middle;
  padding: 0;
}
.catalog-menu-toggle img {
  height: 17px;
  width: 17px;
}
.catalog-menu-heading {
  width: 260px;
}

ul.catalog-menu-dropdown { /* горизонт */
    margin: 0;
    padding-left: 0;
}

ul.catalog-menu-dropdown li { /* горизонт */
      display: inline-grid;
  }
.catalog-menu-dropdown {  /* родительский контейнер выподающего меню */
    font-family: 'Open Sans', "Arial", sans-serif;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    transition: 0.15s ease-out;
}
.catalog-menu-heading:hover .catalog-menu-dropdown {
  display: block;
    position: relative;
    right: 62px;
    padding-left: 60px;
    max-width: 1040px;
    min-width: 1098px;
    margin-top: 22px;
    z-index: 10;
    height: 137px;
    width: 100%;
    background: #f7e296;
    font-family: 'Open Sans light', "Arial", sans-serif;

}

.catalog-menu-dropdown-menu {  /* выподающее меню */
  padding: 0;
  list-style: none;
  font-weight: 100;
  color: #464646;
  font-size: 15px;
  text-transform: none;
  display: grid;
  margin-right: 65px;

}
.site-navigation {  /* строка навигации правая часть */
  list-style: none;
  padding: 0;
  text-align: right;
  float: right;
  transition: 0.15s ease-out;
}
.site-navigation a:hover {  /* строка навигации правая часть */
  opacity: .5;

}
.site-navigation a:active {  /* строка навигации правая часть */
  opacity: .1;
}
.site-navigation li.deliver {  /* строка навигации настроейка позиционирования */
  margin-right: 20px;
}
.site-navigation li.contacts {  /* строка навигации настроейка позиционирования */
  margin-left: 97px;
}
ul.site-navigation { /* горизонт */
    margin-top: 0px;
    position: relative;
    right: -3px;
}

ul.site-navigation li { /* горизонт */
    display: inline;
}

a {  /* все ссылки */
  text-decoration: none;
  color: black;
}
.showcase {
  position: relative;
  min-height: 495px;
}
.slider-count {
  position: absolute;
  right: -15px;
  top: 0px;
  font-size: 179px;
  color: white;
  margin-top: 20px;
  letter-spacing: 4px;
}

.slides {  /* пункты слайдов */
  color: #000000;
  list-style: none;
  padding: 0;
  margin: 0;
}
.services {
  display: flex;
  position: relative;
  top: -30px;
  margin: 0;
  padding: 0;
  min-height: 288px;
  margin-bottom: 94px;
  background-color: #e5e5e5;
}
.services-right {
  position: relative;
  top: -80px;
  left: 30px;
  margin: 0;
  display: none;
  float: right;
  width: 715px;
  height: 280px;
  padding-top: 10px;
  padding-left: 10px;
}
.services-right p{
  margin: 0;
}
.services-right img {
  float: right;
  position: relative;
  top: -168px;
  right: 52px;
  width: 136px;
  height: 164px;
}

h1,
.services-title {  /* заголовки */
  color: #000000;
  font-size: 47px;
  line-height: normal;
  margin-bottom: 0;
}
.services-title {
  margin-bottom: 40px;
}
p {  /* все параграфы */
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: lighter;
  color: #464646;
  font-size: 15px;
  font-weight: 400;
  font-size: 15px;
  font-family: "Open Sans Light","Arial",sans-serif;
}
.slides table{  /* table слайдов */
  font-weight: 100;

}
.slides tr:first-child {  /* первая строка таблицы слайдов */
  font-size: 36px;
}
.slides tr:last-child {  /* вторая строка таблицы слайдов */
  color: #464646;
  font-size: 13px;
}
.about-item-1 {
  margin-top: 20px;
  margin-bottom: 0;
}
.about-item-2 {
  margin-top: 0;
  margin-bottom: 40px;
}
.slides-item {
  display: none;
}
.slider-controls {
  position: absolute;
  top: 290px;
  right: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: top;
    /* background-color: transparent; */
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    cursor: pointer;
    background: url(../img/radio-off.svg) 0px 0px no-repeat;
    background-size: 14px;
}
/*
.slides-item:nth-child(1) {

}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}*/


.popular {
  position: relative;
  font-size: 0;
  margin-bottom: 200px;
}
.popular-list {  /* пункты популярного */
  list-style: none;
  font-size: 0;
  padding-left: 0;
}
.popular-list img{
  height: 87px;
}
.popular-list li:nth-child(2) img{
  height: 115px;
  position: relative;
  bottom: -22px;
}
.popular-list .popular-item-box {
  margin-bottom: 38px;
}
ul.popular-list li {
  display: inline-block;
  width: 160px;
  margin-right: 40px;
  vertical-align: top;
}
ul.popular-list li:last-child {
  margin-right: 0px;
}
.popular-item-text-1,
.popular-item-text-2 {
  color: #000000;
  list-style: none;
  display: inline-block;
  margin: 0;
  line-height: 22px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'gilroy', "Arial", sans-serif;
}
.popular-item-text-2 {
  position: relative;
  top: -10px;
}
.popular-item-box {  /* контейнеры популярного */
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-out;
}
.popular-item-box:hover {  /* наведение на контейнер популярного */
  background-color: #f0c52e;
}
.popular-item-box:active {  /* нажатие на контейнер популярного */
  background-color: #f0c52e;
  opacity: 1;
}
.popular-list a:active img,
.popular-list a:active .popular-item-text{  /* нажатие с захватом ссылки (контейнер популярного) */
  opacity: .3;
}

.popular-list span{  /* текст популярного */
  font-size: 18px;
  word-wrap: normal;
}

.services-name { /* пункты сервисов  */
  color: #000000;
  list-style: none;
  text-transform: uppercase;
  padding-left: 0;
  position: relative;
  left: -80px;
  margin-top: 0;
  display: inline-block;
  float: left;
  height: 319px;
  width: 278px;
}
.services-name::after {
    content: "";
    position: absolute;
    top: 65px;
    right: -16px;
    display: block;
    width: 7px;
    height: 319px;
    background-color: #000;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.more-line_small {
  width: 160px;
  background: #f0c52e;
  height: 8px;
}
.services-name div{
  width: 160px;
  position: relative;
  top: -20px;
  text-align: center;
  margin-bottom: 24px;
  z-index: 1;
}
.services-name a{   /* текст популярного */
  color: #000000;
}
.services-name a:active{   /* текст популярного */
  color: #f7e184;
}
.logos-list img{   /* логотипы */
  list-style: none;
  letter-spacing: 60px;
  filter: grayscale(100%) opacity(20%);
  transition: 0.15s ease-out;
}
.logos-list img:hover{    /* наведение нв логотипы */
  filter: grayscale(0%);
}

ul.logos-list {    /* однострочность логотипов */
    margin: 0;
    padding-left: 0;
    margin-bottom: 95px;
}
ul.logos-list li {    /* однострочность логотипов */
  position: relative;
  display: inline-block;
  width: 260px;
  margin-right: 20px;
  vertical-align: baseline;
}
.about-company {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
}
.about-us::before,
.about-contacts::before {
    top: -2px;
    background-color: #000;
}
.about-company p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
}
.about-us {    /* раздел о нас */
  margin-right: 120px;
  float: left;
  width: 475px;
}
.about-us h2 {
  margin-bottom: 55px;
  font-size: 47px;
}
.about-us .logistic {    /* пункты о нас */
  margin-top: 42px;
  margin-bottom: 85px;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}
.about-us li {
    position: relative;
    padding-left: 35px;
}
.logistic-li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  top: 50%;
  width: 4px;
  height: 4px;
  border: 3px solid #e6e6e6;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.about-us a {    /* ссылки о нас */
  color: #000000;
  font-size: 18px;
}
.about-us::before{
  content: "";
    top: -10px;
    background-color: #000;
    position: absolute;

    width: 80px;
    height: 7px;
}

/* about-us анимация */
.about-company .more-action::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
  transition: all .2s ease-in-out;
}
.about-us .more-action {
  padding: 0;
  min-width: 260px;
  max-width: 560px;
}
.about-us .more-action::before {
  top: 35%;
  height: 8px;
}
.about-us .more-action:hover::before {
    top: -5px;
    height: 40px;
}
.about-contacts .more-action:hover::before {
  top: 3px;
  height: 40px;
}
.write-pop-up .more-action {
  width: 200px;
}
/* about-us анимация */

.about-contacts {    /* раздел контактов */
  float: right;
  width: 560px;
}
.about-contacts h2 {
  margin-bottom: 55px;
  font-size: 47px;
}
.about-contacts::before{
  content: "";
    top: -10px;
    background-color: #000;
    position: absolute;

    width: 80px;
    height: 7px;
}

.map button {    /* карта раздела контактов */
  text-transform: none;
  background-color: #ffffff00;
  opacity: .5;
  border: 0px;
}
.map button:hover {    /* (наведение) карта раздела контактов */
  opacity: 1;
}
.write-pop-up {
  margin-top: 66px;
  padding-left: 0px;
}
.main-footer {  /* футер */
  margin: 0;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 66px;
  color: #e6e6e6;
  background-color: #464646;
  font-weight: 100;
  font-size: 15px;
  text-align:  center;
  width: 100%;
  font-family: 'Open Sans', "Arial", sans-serif;
}
.main-footer a{  /* ссылки футера */
  color: #ffffff;
  font-size: 15px;
  transition: 0.15s ease-out;
}
.main-footer li{  /* li футера */
  color: #ffffff;
  font-size: 18px;

}
.footer-top {  /* верх футера */
  list-style: none;
  font-size: 15px;
  display:  flex;
  justify-content: space-between;
}
.footer-top .main-footer-logo{
  margin: 0;
  font-family: 'Gilroy', "Arial", sans-serif;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  font-size: 48px;
  color: #ffc600;
  opacity: 1;
  letter-spacing: .01em;
}
.footer-top .main-footer-logo:hover,
.footer-mid-services .services-button:hover,
.htmlacademy:hover {
  opacity: .6;
}
.footer-top .main-footer-logo:active,
.footer-mid-services .services-button:active,
.htmlacademy:active {
  opacity: .3;
}
.footer-action {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  justify-content: space-between;
  width: 325px;
  padding: 0;
  margin: 0;
}

.footer-top img{  /* img верхнего футера */
  vertical-align: middle;
  width: 13px;
  height: 13px;
  position: relative;
  right: 15px;
  top: -2px;
}
.account-link-footer img {
  right: 9px;
}
.footer-top a{  /* li футера */
  font-weight: 100;
  color: rgba(255,255,255,.7);
}
.activity-button a:hover{
  color: #fff;
}
.activity-button a:active{
  color: #fff;
  opacity: .3;
}
ul.footer-top {    /* однострочность логотипов */
    margin: 0;
}
ul.footer-top li {    /* однострочность логотипов */
    display: inline;
    margin-left: 65px;
}
.footer-mid {  /* середина футера */
  width: 100%;
  list-style: none;
  margin: 40px 0;
}
.footer-mid span {
  float: left;
}
.footer-mid-services {
  list-style: none;
  font-family: 'Gilroy', "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0;
  margin: 0;
  position: relative;
  left: -70px;
}
.contact-item {
  font-size: 15px;
}
.footer-mid span{  /* середина футера */
  opacity: .85;
}
.footer-mid a{  /* ссылки середины футера */
  opacity: .85;
  float: right;
  position: relative;
  top: -33px;
}

ul.footer-mid {    /* однострочность логотипов */
    margin: 0;
}
ul.footer-mid li {    /* однострочность логотипов */
    display: inline;
}
.footer-mid li{
  font-size: 18px;
  font-weight: bold;
  display: inline;
  margin-right: 29px;
}
.footer-mid li:last-child {
  margin: 0;

}
.footer-bottom {  /*  */
  list-style: none;
  margin-top: 62px;
}
.htmlacademy {
  float: right;
  position: relative;
  top: -50px;
}
.social-button a {
  line-height: 0;
  font-size: 0;
}
ul.footer-bottom {    /* однострочность логотипов */
    margin: 0;
    padding-left: 0;
}
ul.footer-bottom li {    /* однострочность логотипов */
    display: inline;
}
.footer-bottom::after {
  bottom: 25px;
  background-color: #ffc600;
  content: "";
  position: absolute;
  left: 17px;
  width: 80px;
  height: 7px;
}
}
.activity-button {
  text-align: right;
}
.services-button {
  text-align:  center;
}
.social-button {
  margin: 0 11px;
  opacity: .5;
  transition: 0.15s ease-out;
}
.social-button:hover {
  opacity: .8;
}
.social-button:active {
  opacity: .3;
}
.social-button:last-child,
.social-button:first-child {
  margin: 0;
}
.write-us {
  text-align: center;
}
.write-us label{
  font-family: 'Gilroy', "Arial", sans-serif;
}
.write-us-items input[type="text"],
.write-us-items input[type="email"] {    /* попап */
  text-transform: none;
  font-size: 14px;
  height: 50px;
  width: 360px;
  color: #000000;
  background-color: #f2f2f2;
  border: 0px solid;
}
.write-us-items textarea{    /* (не смог поменять тект) попап */
  text-transform: none;
  height: 156px;
  width: 760px;
  color: #000000;
  font-size: 14px;
  background-color: #f2f2f2;
  border: 0px solid;
}
.write-us-close button{    /* кнопка закрытия попапа */
  opacity: .5;
  border: 0px;
}
.write-us-close button:hover{    /* кнопка (пасив) отправки попап */
  opacity: 1;
}
.write-us button{    /* кнопка (актив) отправки попап */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border: 0px;

}
/*-----
catalog.html
-----*/
#color-1:checked ~ label[for="color-1"],
#color-2:checked ~ label[for="color-2"],
#color-3:checked ~ label[for="color-3"],
#color-4:checked ~ label[for="color-4"],
#color-5:checked ~ label[for="color-5"] {
  background: url(../img/checkbox-on.svg) 0px 2px no-repeat;
  width: 40px;
  height: 40px;
  background-size: 27px;
}
#ava-1:checked ~ label[for="ava-1"],
#ava-2:checked ~ label[for="ava-2"] {
  background: url(../img/radio-on.svg) 0px 2px no-repeat;
  width: 40px;
  height: 40px;
  background-size: 24px;
}
#sort-1:checked ~ .catalog label[for="sort-1"],
#sort-2:checked ~ .catalog label[for="sort-2"],
#sort-3:checked ~ .catalog label[for="sort-3"] {
  opacity: 1;
}
#arrow-1:checked ~ .catalog label[for="arrow-1"],
#arrow-2:checked ~ .catalog label[for="arrow-2"] {
  opacity: 1;
}
.catalog {    /* контейнер каталога */

}
.catalog-title h2 {
  line-height: 58px;
  margin-top: 33px;
  margin-bottom: 20px;
  margin-left: 60px;
  letter-spacing: .012em;
  font-size: 47px;
  font-family: "Gilroy","Arial",sans-serif;
  color: #000;
}
.breadcrumbs {    /* хлебные крошки - уровни страницы */
  list-style: none;
  font-size: 14px;
  padding-left: 60px;
}
.breadcrumbs a {    /* хлебные крошки - уровни страницы (ссылки)*/
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'Open Sans light', "Arial", sans-serif;
  transition: 0.15s ease-out;
  font-size: 14px;
  color: rgba(0,0,0,.3);
  text-decoration: none;
}
.breadcrumbs li:first-child a {    /* хлебные крошки - уровни страницы (ссылки)*/
    margin: 0;
    margin-right: 30px;
}
.breadcrumbs a:hover {    /* хлебные крошки - уровни страницы */
  color: #565656;
}
.breadcrumbs a:active {    /* хлебные крошки - уровни страницы */
  opacity: .1;
}
ul.breadcrumbs {    /* однострочность логотипов */
    margin: 0;
    padding-left: 60px;
    margin-bottom: 49px;
    font-family: 'Open Sans Light', "Arial", sans-serif;
}
ul.breadcrumbs li{    /* однострочность логотипов */
    display: inline;
}
.catalog-body {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: #efefef;
  background: linear-gradient(to right,#efefef 0%,#efefef 29%,#fff 30%,#fff 100%);
}
.height-alignment {
    display: flex;
    align-content: stretch;
}
.filter {    /* контейнер с фильтром */
  background-color: #efefef;
  width: 200px;
  margin-right: 72px;
  z-index: 1;
  padding-top: 68px;
  padding-right: 68px;
  margin-left: 60px;
  font-family: 'Open Sans Light', "Arial", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: black;
}
.filter .title{    /* заголовок контейнера с фильтром */
  font-size: 18px;
  height: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.filter fieldset,
.filter-body legend{    /* заголовки пунктов контейнера с фильтрами */
  border: none;
}
/*.value {
  height: 140px;
}*/
.filter fieldset{
  position: relative;
  margin: 0;
  padding: 0 0 32px;
  border: none;
  display: inline-grid;
}
.color label{
  position: relative;
  left: 2px;
  width: 40px;
  height: 40px;
  background: url(../img/checkbox-off.svg) 0px 2px no-repeat;
  background-size: 23px;
  list-style: none;
  padding-left: 40px;
}
.form-legend {
  width: 200px;
  margin-bottom: 18px;
  padding-top: 11px;
  font-size: 18px;
  font-family: "Gilroy","Arial",sans-serif;
  font-weight: 700;
  color: #000;
  border-top: 2px solid #000;
}

.color ul{    /* пункты контейнера с фильтрами цвета */
  list-style: none;
  margin: 0;
  padding: 0;
}
.color .color-name{
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 14px;
}
.bluetooth-legend {
  margin-bottom: 20px;
}
.bluetooth .have-not {
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 14px;
}
.availability {
  display: inline-grid;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.availability input {
  display: none;
}
.availability label{
  position: relative;
  left: 2px;
  width: 40px;
  height: 40px;
  background: url(../img/radio-off.svg) 0px 2px no-repeat;
  background-size: 24px;
  list-style: none;
  padding-left: 40px;
}

.filter-botton{    /* кнопка контейнера с фильтрами */
  border: 0px;
  background-color: #efefef00;
  font-family: 'Gilroy', "Arial", sans-serif;
  width: 200px;
  font-weight: 700;
  letter-spacing: 4px;
}
.filter-botton::before {
  width: 200px;
  left: 75px;
  top: 777px;
}
.filter-botton:hover::before {
    top: 760px;
    height: 40px;
}
.sort {
  display: flex;
  width: 832px;
  min-height: 19px;
  background-color: #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  }
.sort h2{     /* заголовок контейнера с сортировкой */
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  padding-left: 72px;
  vertical-align: middle;
  margin-right: 55px;
}
.sort .sort-level{     /* пункты контейнера с сортировкой */
  list-style: none;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 14px;
  padding-left: 0;
}

ul.sort-level {    /* однострочность логотипов */
    margin: 0;
}
ul.sort-level li{    /* однострочность логотипов */
    display: inline;
    margin-right: 35px;
}
.arrows .button:first-child {
  position: relative;
  left: -10px;
}
.level-text a{     /* ссылки контейнера с сортировкой */
  color: #dbdbdb;
  font-weight: 100;
  transition: 0.15s ease-out;
}
.level-text:hover {     /* пункты контейнера с сортировкой */
  color: #666666;
}
.level-text:active {     /* пункты контейнера с сортировкой */
  color: black;
}
.arrows img{
  transition: 0.15s ease-out;
}
.arrows img:hover{
  opacity: .5;
}
.arrows img:active{
  opacity: 1;
}
.sort button{     /* кнопки верх, низ контейнера с сортировкой */
  font: inherit;
  font-weight: bold;
  height: 10px;
  width: 11px;
  border: 0px;
  background: none;
}
.catalog-main {
  width: 760px;
  margin-top: 69px;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 360px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item a{     /* ссылки контейнера с товарами */
  color: #464646;
  width: 360px;
  height: 380px;
}
.catalog-item .add-solve:hover {
  opacity: 0.5;
}
.catalog-item .more-action-1:active{
  opacity: 0.5;
}
.catalog-item h3{     /* цены контейнера с товарами */
  font-size: 18px;
  float: left;
  margin-top: 35px;
}
.catalog-item h3:hover{     /* цены контейнера с товарами */
  opacity: .6;
}
.catalog-item span{     /* цены контейнера с товарами */
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 16px;
  color: #9c9c9c;
  /* width: 160px; */
  float: right;
  margin-top: 35px;
}
.new::after {
    content: "NEW";
    position: absolute;
    top: 615px;
    right: 37px;

    padding: 13px 13px;
    font-size: 14px;
    font-family: "Gilroy","Arial",sans-serif;
    text-align: center;
    color: rgba(0,0,0,.2);
    letter-spacing: 1px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 50%;
}
.navigation {
  width: 760px;
  height: 70px;
  background-color: #ebebeb;
  margin-bottom: 77px;
  transition: 0.15s ease-out;
  display: flex;
  justify-content: space-between;
}
.navigation .next:hover,
.navigation .back:hover{
  background-color: #d9d9d9;
}
.navigation a{     /* навигация по страницам */
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  /*width: 126px;
  height: 70px;*/
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 20px;
}
.navigation a:hover {
  opacity: .3;
}
.navigation .next {
  padding-right: 28px;
  padding-left: 28px;
}
.navigation .back {
  padding-right: 28px;
  padding-left: 28px;
}
.navigation-list li{
  list-style: none;
  text-align: center;
}
ul.navigation-list {    /* однострочность логотипов */
    margin: 0;
    padding-top: 20px;
}
ul.navigation-list li{    /* однострочность логотипов */
    display: inline;
    margin-right: 30px;
}
.navigation-item a{
  color: #9c9c9c;
  transition: 0.15s ease-out;
}
.navigation-item a:hover{
  background-color: none;
}

/*                 */
.products {
}
.product-description {
  display: inline-block;
  float: right;
  width: 500px;
  position: relative;
  left: -1px;
}
.product-description .more-button{
  position: relative;
  left: 3px;
}
.product-description::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}
.slideshow-container {
  margin: 0 60px;
  position: relative;
  top: -69px;
}

.slides-edit img{
  top: -40px;
  position: relative;
  left: 37px;
}
.slides li:nth-child(3) img{
  top: 35px;
  position: relative;
  left: -37px;
}
.map-popup {
  display: none;
  border: 5px solid #f7e296;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 559px;
  box-shadow:
    -40px 0 40px -40px rgba(2,4,6,.6),
    40px 0 40px -40px rgba(2,4,6,.6),
    0 8px 20px 2px rgba(2,4,6,.2);
  -webkit-transform: translate(-50%,-50%);
}
.popup-close-botton {
  position: absolute;
  top: 22px;
  right: 22px;
  border: 0;
  background-color: #ffffff00;
  opacity: 0.5;
}
.popup-close-botton:hover {
  opacity: 0.9;
}
.active-popup:active {
  display: block;
}

.write-popup {
  display: none;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 760px;
  min-height: 380px;
  padding: 95px 100px 78px;
  background-color: #fff;
  box-shadow: -40px 0 40px -40px rgba(2,4,6,.6),
  40px 0 40px -40px rgba(2,4,6,.6),
  0 8px 20px 2px rgba(2,4,6,.2);
  z-index: 0;
  -webkit-transform: translate(-50%,-50%);
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 20;
    width: 54px;
    height: 54px;
    font-size: 0;
    background-color: #f7e296;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  .form-write-us label {
    float: left;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 18px;
    font-family: "Gilroy ExtraBold","Arial",sans-serif;
}

.form-write-us-name {
    margin-right: 40px;
}

.form-write-us-email, .form-write-us-name {
    display: inline-block;
    width: 360px;
    vertical-align: baseline;
}
.form-write-us-letter textarea {
    width: 740px;
    height: 124px;
    padding: 16px 20px;
    resize: horizontal;
}

.form-write-us-email input, .form-write-us-name input {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    width: 360px;
}

.form-write-us-email input,
.form-write-us-letter textarea,
.form-write-us-name input {
    margin-top: 13px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans","Arial",sans-serif;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    transition: 0.15s ease-out;
}

.form-write-us-email input:hover,
.form-write-us-letter textarea:hover,
.form-write-us-name input:hover {
    background-color: #eaeaea;
}
.form-write-us-email input:focus,
.form-write-us-letter textarea:focus,
.form-write-us-name input:focus {
    background-color: white;
    border: 2px solid #f7e296;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
}
.level-text {
  opacity: 0.3;
  margin-right: 25px;
}
.sort-title {
  padding: 0;
  margin: 0;
}
.arrows {
  left: 215px;
  position: relative;
}
.arrows label{
  opacity: .2;
  -webkit-appearance: button-bevel;
}
.filter-title {
  background-color: #dcdcdc;
  padding: 20px 0;
  margin: 0;
}
.catalog-header {
  height: 152px;
}
.catalog-container {
}
.filter-color {
  background-color: #dcdcdc;
  height: 70px;
  position: absolute;
  width: 10%;
  padding: 0 50%;
  z-index: -1;
  right: 75%;
}
.filter-body {
  height: 100%;
}
.filter-body legend{
  font-size: 18px;
}
.filter-body-color {
  height: 85.7%;
  position: absolute;
  background-color: #efefef;
  width: 10%;
  padding: 0 50%;
  z-index: -1;
  right: 75%;
}
/*
transition: 0.15s ease-out;
*/
/*.audio_pl_item
.audio_pl__cover:hover
.audio_pl__actions_wrap {
    opacity: 1;
}*/

.catalog-item-active {
  text-align: center;
  color: white;
  opacity: 0;
  /*background-color: #eeeeee;*/
  background-color: #efefef9c;
  position: absolute;
  top: 70px;
  width: 361px;
  height: 380px;
  border-radius: 4px;
  -o-transition: opacity 80ms linear;
  transition: opacity 80ms linear;
}
.line-2 {
  top: 592px;
}
.catalog-item-active:hover {
  opacity: 1;
  z-index: 0;
}
.catalog-item-active-list {
   list-style: none;
   margin-top: 175px;
   padding: 0;
   color: rgba(0,0,0,.5);
 }

.more-action-1{
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;
}
.more-action-1::before {
  content: "";
  position: absolute;
  top: 185px;
  left: 80px;
  z-index: -1;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  transition: all .2s ease-in-out;
}
.more-action-1:hover::before {
    top: 169px;
    height: 40px;
}
.add-solve {
  font-size: 13px;
  letter-spacing: .1px;
  /*font-family: 'Gilroy',
  sans-serif,
  'Open Sans Light',
  sans-serif;
  font-weight: 100;*/

  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: lighter;
}


/* Всплывающая форма */

.modal {
  position: absolute;
  display: none;
  color: #000000;
  z-index: 10;
  background-color: #fff;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
  top: 120px;
  left: 64%;
  height: 370px;
  width: 300px;
  margin-left: -230px;
  padding: 50px 60px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #000000;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

.login-form p {
  margin: 0;
  margin-bottom: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  /*box-sizing: border-box;
    width: 300px;
    padding: 5px 15px;
    padding-right: 40px;
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #fdebab;
    border: 2px solid #000000;*/
    box-sizing: border-box;
    width: 300px;
    font: inherit;
    font-size: 14px;
    padding: 15px 15px;
    line-height: 18px;
    font-family: "Open Sans","Arial",sans-serif;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    transition: 0.15s ease-out;
}
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
   background-color: white;
    border: 2px solid #f7e296;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
 }

.login-form input:focus {
  border-color: #663d15;
}

.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.login-icon-user {
  background-image: url("img/user.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url("img/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 5px;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form .button {
  width: 100%;
  margin-right: 0;
}
.form-login-login {
  float: left;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    font-family: 'Gilroy', "Arial", sans-serif;
}
.login-action {
  position: relative;
  display: inline-block;
  padding: 9px 5px;
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 24px;
  border: 0;
  background: none;
  font-weight: 700;
}
.login-action::before:hover {
  position: relative;
  top: -1px;
}
.modal-show {
  display: block;
  /*animation: bounce 0.6s;*/
}
.modal-error {
  animation: shake 0.6s;
}
/**/
.filter-range {
  width: 200px;
  color: #000;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  color: #cfcfcf;
  height: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 0;

  border-radius: 2px;
}



.price-controls label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 95px;
}

.price-controls input {
  width: 60px;
  margin: 0;
  font-size: 14px;
  color: inherit;
  font-family: "Open Sans light","Arial",sans-serif;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-top: 40px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(0, 0, 0, 0.3);
}

.range-controls .bar {
  width: 55%;
  height: 2px;

  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  transition: 0.15s ease-out;
}

.range-toggle:hover {
  border: 8px solid #eaeaea;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 55%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/**/
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
/**/
.tittles-wr {
 width: 100%;
 overflow:hidden;
 background:linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
}
.catalog-sort,.filter-tittle {
  padding-top: 20px;
  padding-bottom: 20px;
}
.filter-tittle {
margin: 0 0 0 60px;
 padding-right: 68px;
 font-size: 16px;
 text-transform: uppercase;
 letter-spacing: .23em;
 float: left;
 width: 200px;
 background-color: #dbdbdb;
}
.catalog-sort {
 float:right;
 width:832px;
 min-height:19px;
 background-color:#ebebeb
}
.catalog-sort h2 {
 float:left;
 margin:0;
 padding-left:72px;
 font-size:16px;
 text-transform:uppercase;
 letter-spacing:.23em
}
.catalog-sort .catalog-sort-type {
 float:right;
 width:499px;
 padding-left:50px
}
.catalog-sort-type a {
 margin-right:26px
}
.catalog-sort a {
 font-size:14px;
 line-height:18px;
 font-family:"Open Sans","Arial",sans-serif;
 color:#000;
 text-decoration:none;
 white-space:nowrap;
 opacity:.3
}
.catalog-sort-direction {
 float:right;
 width:60px
}
.catalog-sort-direction a {
 display:inline-block;
 width:17px;
 min-height:19px;
 margin-right:22px;
 vertical-align:top
}
.catalog-sort-direction a:nth-child(2n) {
 margin-right:0
}
.catalog-sort a:hover {
 opacity:.6
}
.catalog-sort .btn-down,.catalog-sort .btn-up {
 position:relative;
 font-size:0;
 opacity:.2
}
.catalog-sort .btn-down:hover,.catalog-sort .btn-up:hover {
 opacity:.4
}
.catalog-sort .btn-down:active,.catalog-sort .btn-up:active,.catalog-sort .current,.catalog-sort .current:hover,.catalog-sort a:active {
 opacity:1
}
.catalog-sort .btn-down::before,.catalog-sort .btn-up::before {
 content:"";
 position:absolute;
 top:5px;
 left:0;
 width:17px;
 height:9px;
 background-image:url(../img/sprite.png);
 background-repeat:no-repeat;
 background-position:-5px -367px
}
/**/
